.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-estbay);

  &__container {
    position: relative;
    padding: var(--second-offset) 15px;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - 15px*2);
      height: 1px;
      background-color: var(--color-border);
      transform: translateX(-50%);
    }
  }

  &__logo {
    grid-column: 2 span;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
}