.quiz {
    padding: 60px 0;

    &__content {
        border-radius: 4px;
        padding: 40px 100px;
        background-color: var(--color-bg);

    }

    &__title {
        margin-bottom: 20px;
    }

    &__descr {
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid currentColor;
        color: #808080;
    }
}

.quiz__questions {
    margin: 20px 0;
}

.quiz-question {

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-family: 'Intro' sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: var(--color-main);
    }

    &__answers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 155px;
        gap: 20px 70px;
        padding-bottom: 40px;
    }

    &__count {
        color: #808080;
        font-family: 'Intro' sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
    }



    

    
}

.quiz-question img {
    margin-bottom: 20px;
}

.quiz-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #808080;
}

.asd {
    display: none;
}
