<section class="instagram">
    <div class="container instagram__container">
        <div class="instagram__left">
            <form action="" class="callback-form">
                <h2 class="title instagram__title">
                    Есть вопросы?
                </h2>
                <p class="instagram__descr">
                    Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами
                </p>
                <input type="text" class="input instagram__input" placeholder="Ваше имя">
                <input type="text" class="input instagram__input" placeholder="Номер телефона">
                <button class="btn--primary btn-reset instagram__btn">Отправить</button>
            </form>
        </div>
        
    </div>
</section>