<section class="team">
    <img src="img/background-figure.svg" alt="" class="team__figure" aria-hidden="true">
    <div class="container">
        <h2 class="team__title title">
            Наша команда
        </h2>
        <ul class="team__list grid list-reset">
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
            <li class="team__item">
                <img src="img/person.jpg" alt="Max" class="team__img">
                <strong class="team__subtitle">Максим Золотарев</strong>
                <span class="team__post">Администратор</span>
            </li>
        </ul>
    </div>
</section>